html {
    overflow-y: scroll;
  }
  @font-face {
    font-family: 'LMMono9';
    src: url('./fonts/LMMono9-Regular.woff2') format('woff2'),
        url('./fonts/LMMono9-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMMono10';
    src: url('./fonts/LMMono10-Italic.woff2') format('woff2'),
        url('./fonts/LMMono10-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: replace;
}

@font-face {
    font-family: 'LMMono8';
    src: url('./fonts/LMMono8-Regular.woff2') format('woff2'),
        url('./fonts/LMMono8-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMMono10';
    src: url('./fonts/LMMono10-Regular.woff2') format('woff2'),
        url('./fonts/LMMono10-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMMono12';
    src: url('./fonts/LMMono12-Regular.woff2') format('woff2'),
        url('./fonts/LMMono12-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMRoman12';
    src: url('./fonts/LMRoman12-Bold.woff2') format('woff2'),
        url('./fonts/LMRoman12-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMRoman12';
    src: url('./fonts/LMRoman12-Italic.woff2') format('woff2'),
        url('./fonts/LMRoman12-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: replace;
}

@font-face {
    font-family: 'LMRoman12';
    src: url('./fonts/LMRoman12-Regular.woff2') format('woff2'),
        url('./fonts/LMRoman12-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMRoman17';
    src: url('./fonts/LMRoman17-Regular.woff2') format('woff2'),
        url('./fonts/LMRoman17-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}


.navigation-header {
  font-size: 16px;
  font-family: 'LMMono9';
  white-space: pre;
  text-align: center;
}

.sidenav{
    font-family: 'LMMono12';
    font-size: 24px;
    display: none;
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 2;
    top: 0;
    left:0 ;
    background-color: rgb(241, 240, 240);
    transition: .5s ease;
    overflow-x: hidden;
    padding-top: 20px;
    flex-direction: column;
    align-items: left;
}

.sideNavSocials {
    font: 'LMMono12';
}

.sideNavSocials::before {
    content: "   ";
    white-space: pre;
}

.sideNavSocialsBlock {
    position: absolute;
}

p {
    text-indent: 50px;
    font-family: 'LMRoman12';
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: rgb(56, 2, 184);
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-family: 'LMRoman12';
    color: rgb(0, 0, 0);
    text-align: center;
  }


p, h2, .ReadMore{
    padding-left: 30%;
    padding-right: 30%;
}

h2 {
    font-family: 'LMRoman12';
    color:rgb(0, 0, 0);
    text-align: left;
    font-size: 24px;
}

body {
    background-color: rgb(245, 245, 245);
    padding-bottom: 10%;
  }

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: rgb(80, 80, 80);
    text-align: center;
    background-color:  rgb(245, 245, 245);
    font-family: 'LMMono12';
    padding-bottom: 20px;
}

#square {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    background: rgb(245, 245, 245)
}

.navSelected {
    overflow-x: hidden;
}

.navUnselected {
    overflow-x: hidden;
}

.navUnselected::before {
    content: "   ";
    white-space: pre;
    overflow-x: hidden;
}

.navUnselected::after {
    content: "   ";
}
.navSelected::before{
    color: black;
    content: " > ";
    overflow-x: hidden;
}

.navSelected::after{
    color: black;
    content: " < ";
}

hr {
    width: 40%;;
    margin-top: 20px;
    margin-bottom: 20px;
}


.sideNavButton {
    font-size: 36px;
    font-family: 'LMMono12';
    float: left;
    z-index: 1;
    position: fixed;
    left: 15px;
    top: 5px;
    display: none;
}

.sideNavButtonBG {
    width:0;
    height:0;
    border-left: 0px solid transparent;
	border-right: 85px solid transparent;
	border-top: 85px solid rgb(245, 245, 245);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.quote, .ReadMore, .Location {
    font-family: 'LMMono10';
    font-style: italic;
    font-size: 18px;
    padding-left: 30%;
    padding-right: 30%;
}

.ReadMore {
    text-align: right;
}

ul {
    padding-left: 30%;
    list-style-type: square;
    list-style-position:inside;
}

ul .quote {
    padding: 0px
}

.Location {
    font-size: 16px;
}

.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
}

.bandcampEmbed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    width: 450px;
    aspect-ratio: 1 / 1;
    padding-top: 50px;
}

.albumCoverContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    padding-right: 30%;
    padding-left: 30%;
	justify-content: center;
}

.albumCoverContainer img {
    max-width: 200px;
    margin: 13px;
}

.logo-row {
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.logo-row img {
    width: 75px;
}

.logo-row .logoRowItem{
    margin: 40px;
}

@media (max-width: 1000px) {
    hr {
        width: 90%;
    }

    p, h2, .quote, .ReadMore, ul, .Location {
        padding-left: 20px;
        padding-right: 20px;
    }

    p, .ReadMore, .quote {
        font-size: 16px;
    }

    p {
        text-indent: 20px;
    }


    h2 {
        font-size: 24px;
    }

    .navigation-header {
        display: none
    }

    .sidenav {
        display: flex;
    }
    
    .navSelected::after {
        display: none;
    }

    footer {
        display: none;
    }

    .sideNavButton {
        display: inherit;
    }

    .sideNavButtonBG{
        display: inherit;
    }

    .ReadMore{
        padding-left: 20px;
        padding-right: 20px;
    }

    ul {
        list-style-position: outside;
        padding-left: 40px;
    }

    .centerImage {
        width: 75%;
    }

    #square {
        display: none;
    }
    
    .albumCoverContainer {
        padding-right: 20px;
        padding-left: 20px
    }

    .albumCoverContainer {
        width: 80%;
        max-width: 400px;
    }

    .logo-row {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .logo-row .logoRowItem {
        margin: 20px
    }

    .bandcampEmbed{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 0;
        width: 80%;
        aspect-ratio: 1 / 1;
    }
}
