html {
    overflow-y: scroll;
  }
  @font-face {
    font-family: 'LMMono9';
    src: url('./fonts/LMMono9-Regular.woff2') format('woff2'),
        url('./fonts/LMMono9-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMMono10';
    src: url('./fonts/LMMono10-Italic.woff2') format('woff2'),
        url('./fonts/LMMono10-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: replace;
}

@font-face {
    font-family: 'LMMono8';
    src: url('./fonts/LMMono8-Regular.woff2') format('woff2'),
        url('./fonts/LMMono8-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMMono10';
    src: url('./fonts/LMMono10-Regular.woff2') format('woff2'),
        url('./fonts/LMMono10-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMMono12';
    src: url('./fonts/LMMono12-Regular.woff2') format('woff2'),
        url('./fonts/LMMono12-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMRoman12';
    src: url('./fonts/LMRoman12-Bold.woff2') format('woff2'),
        url('./fonts/LMRoman12-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMRoman12';
    src: url('./fonts/LMRoman12-Italic.woff2') format('woff2'),
        url('./fonts/LMRoman12-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: replace;
}

@font-face {
    font-family: 'LMRoman12';
    src: url('./fonts/LMRoman12-Regular.woff2') format('woff2'),
        url('./fonts/LMRoman12-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

@font-face {
    font-family: 'LMRoman17';
    src: url('./fonts/LMRoman17-Regular.woff2') format('woff2'),
        url('./fonts/LMRoman17-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: replace;
}

.App {
  /* text-align: center; */
}

.navigation-header {
  font-size: 16px;
  font-family: 'LMMono9';
  white-space: pre;
  text-align: center;
}

.sidenav{
    font-family: 'LMMono12';
    font-size: 24px;
    display: none;
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 2;
    top: 0;
    left:0 ;
    background-color: rgb(241, 240, 240);
    transition: .5s ease;
    overflow-x: hidden;
    padding-top: 20px;
    flex-direction: column;
    align-items: left;
}

.sideNavSocials {
    font: 'LMMono12';
}

.sideNavSocials::before {
    content: "   ";
    white-space: pre;
}

.sideNavSocialsBlock {
    position: absolute;
}

p {
    font-family: 'LMRoman12';
    font-size: 18px;
    padding-left: 30%;
    padding-right: 30%;
}

a {
    color: rgb(56, 2, 184);
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-family: 'LMRoman12';
    color: rgb(0, 0, 0);
    text-align: center;
  }

body {
    background-color: rgb(245, 245, 245);
    padding-bottom: 10%;
  }

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: rgb(80, 80, 80);
    text-align: center;
    background-color:  rgb(245, 245, 245);
    font-family: 'LMMono12';
    padding-bottom: 20px;
}

.navSelected {
    overflow-x: hidden;
}

.navUnselected {
    overflow-x: hidden;
}

.navUnselected::before {
    content: "   ";
    white-space: pre;
    overflow-x: hidden;
}

.navUnselected::after {
    content: "   ";
}
.navSelected::before{
    color: black;
    content: " > ";
    overflow-x: hidden;
}

.navSelected::after{
    color: black;
    content: " < ";
}

hr {
    width: 40%;;
    margin-top: 20px;
    margin-bottom: 20px;
}


.sideNavButton {
    font-size: 36px;
    font-family: 'LMMono12';
    float: left;
    z-index: 1;
    position: fixed;
    left: 15px;
    top: 5px;
    display: none;
    /* background: radial-gradient(circle, rgba(255,255,255,1) 48%, rgba(0,212,255,0) 100%); */
}

.sideNavButtonBG {
    width:0;
    height:0;
    border-left: 0px solid transparent;
	border-right: 85px solid transparent;
	border-top: 85px solid rgb(245, 245, 245);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}



@media (max-width: 1000px) {
    hr {
        width: 90%
    }

    p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navigation-header {
        display: none
    }

    .sidenav {
        display: flex;
    }
    
    .navSelected::after {
        display: none;
    }

    footer {
        display: none;
    }
    .sideNavButton {
        display: inherit;
    }
    .sideNavButtonBG{
        display: inherit;
    }
}
